*{
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

div {
    width: 100px;
    height: 100px;
    background-color: rgb(80, 80, 243);
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    color: white;
}