* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(244, 255, 232);
    cursor: default;

}

.undo.active{
    background-color: rgb(95, 175, 3);
    color: white;
    cursor: pointer;
}

.redo.active{
    background-color: rgb(0, 201, 33);
    color: white;
    cursor: pointer;
}

.undo.active:hover,
.redo.active:hover{
    background-color: rgb(113, 247, 135);
}

span {
    color: white;
    font-size: 20px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin: auto;

    font-size: 22px;
    font-weight: bold;
    color: white;

    transition: width 1s , height 1s ;
    margin-block-end: 10px;

    cursor: pointer;
    box-shadow: rgb(73, 73, 73) 1px 1px 10px ;
}

.ball1 {
    background-color: purple; 
}

.ball2 {
    background-color: red;
}

.ball3 {
    background-color: rgb(0, 116, 77);
    font-size: 15px;
    text-align: center;
}

.ball4 {
    background-color: rgb(29, 14, 238);
    font-size: 15px;
    text-align: center;
}

.ball5 {
    background-color: rgb(188, 3, 212);
    font-size: 15px;
    text-align: center;
}

.ball6 {
    background-color: rgb(136, 0, 63);
    text-align: center;
}

.ball6:hover {
    background-color: rgb(221, 44, 127);
}

